body {
    background: #333745;
    padding-top: 80px;
  }
  
  .product-box {
    border: 5px solid #20222b;
    background: #a5afd7;
    border-radius: 5px;
  }
  
  .bg-custom {
    background: #20222b;
  }
  
  .bg-custom a,
  .bg-custom span {
    color: #a5afd7;
  }
  
  .cart-box {
    width: 40%;
    margin: auto;
    top: 80px;
    right: 10px;
    text-align: right;
    z-index: 99999;
    background: #20222b;
    color: #a5afd7;
    border-radius: 10px;
    visibility: visible;
    transition: 0.2s 6s;
  }
  
  .cart-box hr {
    border-top: 1px solid #fff;
  }
  