body {
    background: #333745;
    padding-top: 80px;
  }
  
  .product-box {
    border: 5px solid #20222b;
    background: #a5afd7;
    border-radius: 5px;
  }
  
  .bg-custom {
    background: #20222b;
  }
  
  .bg-custom a,
  .bg-custom span {
    color: #a5afd7;
  }
  
  .cart-box {
    width: 40%;
    margin: auto;
    top: 80px;
    right: 10px;
    text-align: right;
    z-index: 99999;
    background: #20222b;
    color: #a5afd7;
    border-radius: 10px;
    visibility: visible;
    transition: 0.2s 6s;
  }
  
  .cart-box hr {
    border-top: 1px solid #fff;
  }

  .modal-message{
    position: relative;
    color: black;
    outline: none;
    padding: 32px;
    max-width: 800px;
    text-align: center;
    background:#fff
  }

  .ReactModalPortal .ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
    background: rgba(0, 0, 0, 0.15);
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
  background:rgba(0,0,0,0.7) !important;
  z-index: 9999999999;
}

.close-btn{
  position: absolute;
  top: 5px;
  right: 5px;
}

.price-box {
  color: #f82e56;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.product-btn{
  color: #999;
  display: inline-block;
  margin-bottom: 40px;
  text-decoration: underline;
  width: 100%;
}
.search-btn{
  background:#20222b;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-top:15px;
}
.search-inpt{
  background:#a5afd7;
  color: #20222b;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-top:15px;
}
.header{
  color:darkslateblue;
}